<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3" [hidden]="IsMobile() == true">
    <div class="container">
      <div style="color: white; text-align: left; width: 80%;"><h2 style="display: inline-block; margin-right: 5px">₩eƵoom€</h2><h4 style="display: inline-block">Tip Tracker</h4></div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target=".navbar-collapse"
    aria-label="Toggle navigation"
    [attr.aria-expanded]="isExpanded"
    (click)="toggle()"
   style="background-color: white"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
    [ngClass]="{ show: isExpanded }" style="text-align: center"
  >
    <ul class="navbar-nav flex-grow">
      <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link text-light" [routerLink]="['/add']">Add Tip Data</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link text-light" [routerLink]="['/get']">Get Tip Data</a>
      </li>
    </ul>
  </div>
    </div>
  </nav>
</header>

<hr style="background-color: white"/>
